.mainfoamcontainer{
    /* background-color: red; */
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.inputfield{
    border: 1px solid black;
}
.btn{
    background: rgb(2,0,36);
    color: white;
    border-radius: 5px;
    padding: 4px;
}